<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ">
    <targets>
        <target name="error_log" xsi:type="File" fileName="error.log"/>
        <target name="error_console" xsi:type="Console"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="error_console"/>
        <logger name="*" minlevel="Fatal" writeTo="error_log"/>
        <logger name="*" minlevel="Warn" writeTo="error_log"/>
        <logger name="*" minlevel="Info" writeTo="error_log"/>
    </rules>
</nlog>
